.login-mcn {
    width: 100vw;
    min-height: 100vh;
    padding-top: 32rpx;
    padding-bottom: 60rpx;
    background: linear-gradient(to bottom, #f7f7f7, #f3f6f1);

    .logo {
        width: 180rpx;
        margin-left: 42rpx;
    }

    .mcn-container {
        padding-top: 88rpx 100rpx 0;

        .upload-avator {
            width: 152rpx;
            height: 152rpx;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
			margin-bottom: 28rpx;
			.preview-cover {
				width: 100%;
				height: 100%;
			}
			.btn {
				width: 100%;
				height: 100%;
			}
        }
    }

    .btn-view {
        padding-top: 72rpx;
    }

}
