$color-base: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    font-family: 'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    line-height: 1.5714285714285714;
    -webkit-transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
