view,
text,
button,
input,
textarea,
scroll-view,
navigator {
  box-sizing: border-box;
  font-family: 'SourceHanSansCN Regular', 'PingFang SC';
  color: $default-black;
  font-size: 28rpx;
  margin: 0;
  padding: 0;
}

input,
textarea {
  text-transform: none;
}

image {
  display: block;
  height: 100%;
  width: 100%;
  overflow: visible;
}

video {
  width: 100%;
}

.scroll-view {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
}

.btn {
  background: unset;
  border-radius: 0;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    border: unset;
    border-radius: 0;
  }
}
